/*
 Theme Name:     RSSA(Soulmedic)
 Theme URI:      http://wedesignthemes.com/themes/dt-soulmedic/
 Github Theme URI: https://github.com/mumaralhafidz/kxznckjhd2138
 Description:    Soulmedic Child Theme
 Author:         M Umar Al Hafidz
 Author URI:     https://mumaralhafidz.web.id/
 Template:       soulmedic
 Version:        1.0.0
*/
 
/* =Theme customization starts here
------------------------------------------------------- */